{% load static %}

<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
        <li><a href="{% url 'event' %}" class="{% if request.path == '/event/' %}active{% endif %}">Dashboard</a></li>
    </ul>

    <script>let highlight_query = '.navbar a.active'</script>
    <script src="{%static 'js/highlight.js' %}"></script>

    {% if user.is_authenticated == False %}
    <div class="nav-buttons">
        <a class="button button_r_12" href="{% url 'login' %} ">Login</a>
        <a class="button button_r_12" href="{% url 'signup' %}">Signup</a>
    </div>
    {% else %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="button button_r_12" type="submit">Logout</button>
    </form>
    {% endif %}
</nav>