.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 5%;
}

#button {
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
}

.button_r_12 {
    border-radius: 25px;
}

.button:hover {
    background-color: #0dce84; /* Green */
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    list-style-type: none;
    padding: 0;
}

label.required::after {
    content: ' *';
    color: red;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: #5d5c71;
    display: flex;
    flex-direction: column;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 8px;
    font-size: 24px;
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}

.sidebar-article {
    border: 1px solid #EDEFEE;
    padding-left: 25%;
}

.bottom-links {
    position: relative;
    top: calc(60% - 40px); 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.copyright {
    font-size: 14px;
}

.button2 {
    background-color: #84968f73;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 5%;
}

.button2:hover {
    background-color: #131816;
    color: white;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline button {
    margin-right: 10px;
    margin-left: 2%;
}

.form-inline input[type="text"] {
    width: 150px; 
    max-width: 100%;
    margin-left: 5%;
}