{% extends 'base.html' %}

{% block content %}

<section>

    <article>
        <p>Art Event Station. Django implementation of CRM web application.</p>
        <p>CRM web application for creating and sharing event pages for artists can also notify fans.</p>
        <p>Embedding the SIGNUP page to other websites so people can sign up there to be your fans and receive your notifications.</p>
        <h3>
            <p>Open Source Address:</p>
            <a href="https://github.com/zhiyuanfeng-git/AEStation">Github</a>
        </h3>
    </article>

</section>

{% endblock %}