{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Head Section -->
        {% block head %}
            {% include 'partials/_head.html' %}
        {% endblock %}
    </head>

    <body>
        <!-- Header Section -->
        {% block header %}
            {% include 'partials/_header.html' %}
        {% endblock %}

        <!-- Main Content -->
        <main>
            {% block content %} {% endblock %}
        </main>

        <!-- Footer Section -->
        {% block footer %}
            {% include 'partials/_footer.html' %}
        {% endblock %}

    </body>
</html>