{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block footer %}
    {% include 'partials/_dash_footer.html' %}
{% endblock %}

{% block content %}

<section>

    <article class="sidebar-article">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="{% url 'event' %}" class="{% if request.path == '/event/' %}active{% endif %}">Event</a></li>
                <li><a href="{% url 'fans' %}" class="{% if request.path == '/fans/' %}active{% endif %}">Fans</a></li>
            </ul>
            <ul class="bottom-links">
                <li><a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}active{% endif %}">Profile</a></li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li></li><button class="button2 button_r_12" type="submit">Logout</button></li>
                </form>
            </ul>
        </div>
        <script>let highlight_query = '.sidebar a.active'</script>
        <script src="{%static 'js/highlight.js' %}"></script>
    </article>

</section>

<section>

    <article class="sidebar-article">
        <div class="body-text">
            {% if user.first_name %}
                <h2>Welcome, {{user.first_name}} {{user.last_name}}</h2>
            {% else %}
                <h2>Welcome, {{ user.email }}</h2>
            {% endif %}
            {% block dashcontent%} {% endblock %}
        </div>
    </article>

</section>

{% endblock %}