{% extends 'dashboard/dashboard.html' %}
{% load static %}


{% block dashcontent%} 
<h2>Fans page</h2>

<!--Fans Count-->
<article>
    <h3>Fans Count</h3>
    <div class="fans-count-container">
        <div class="fans-count-item">
            <span>Total Fans</span>
            {% if fans_count %}
                <span>{{fans_count}}</span>
            {% else %}
                <span>0</span>
            {% endif %}
        </div>
        
        <div class="fans-count-item">
            <span>New Fans (Last Week)</span>
            {% if last_week_fans_count %}
                <span>{{last_week_fans_count}}</span>
            {% else %}
                <span>0</span>
            {% endif %}
        </div>
    </div>
</article>

<!--Fans CSV-->
<article>
    <h3>Fans CSV</h3>
    <div class="csv-btns">
        <form action="{% url 'upload-csv' %}">
            <button id="upload-csv-btn" class="upload-csv-btn">Upload CSV</button>
        </form>
        <form action ="{% url 'download-csv' %}">
            <button id = "download-csv-btn" class="upload-csv-btn">Download CSV</button>
        </form>
    </div>
</article>

<!--Fans Search-->
<article>
    <h3>Fans Search</h3>
</article>

{% endblock %}